*{
    margin: 0;
}

#text{
    margin: 0 auto;
    display: flex;
}

.letters{
    --delay: 0;
    animation-delay: calc(var(--delay) * 0.1s);
    animation-name: fade-in;
    animation-duration: 1s;
    transition-timing-function: cubic-bezier(.48,.71,.67,1.52);
    animation-fill-mode: both;
}

p{
    font-size: 5vw;
    padding: 2vw;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(2vw);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

